name: Yacht

on:
  schedule:
    - cron: '0 3 * * *'
  push:
    branches:
      - '*'
    tags:
      - '*'
  delete:

jobs:
  yacht:
    runs-on: ubuntu-latest
    if: >-
      (github.event_name == 'push') ||
      (github.event_name == 'delete' &&
       github.event.ref_type == 'branch' &&
       github.event.ref != 'main')
    container:
      image: ghcr.io/evgnomon/barge:main
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Run Playbook
        uses: evgnomon/yacht@main
        with:
          vault: ${{ secrets.VAULT_FILE }}
          vault_pass: ${{ secrets.VAULT_PASS }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
